<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Contacto</h3>
          <p>Dirección: 123 Main Street</p>
          <p>Teléfono: (555) 555-5555</p>
          <p>Correo electrónico: info@ejemplo.com</p>
        </div>
        <div class="col-md-4">
          <h3>Horario</h3>
          <p>Lunes - Viernes: 8am - 8pm</p>
          <p>Sábado: 9am - 6pm</p>
          <p>Domingo: cerrado</p>
        </div>
        <div class="col-md-4">
          <h3>Redes sociales</h3>
          <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  