<body>
 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Sin necesidad de esperar a tu mesero</h2>
        <p>Puedes ordenar desde nuestra pagina web hasta la comodidad de tu casa o tu mesa</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Expresso</li>
            <li data-filter=".filter-card">Originales</li>
            <li data-filter=".filter-web">Cold brew</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="../../../assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Expresso clasico </h4>
            <p>Proporciona energía, mejorar la digestión</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="../../../assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Cold Brew Clásico</h4>
            <p>Es suave gracias a su menor acidez y amargura, con un sabor naturalmente dulce que requiere menos edulcorante. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="../../../assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Expresso Lungo</h4>
            <p>Es versátil y puede ser una opción más saludable para controlar el peso debido a su menor cantidad de calorías.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="../../../assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Latte de Calabaza Especiada</h4>
            <p>Puede aumentar la ingesta de antioxidantes, tener propiedades antiinflamatorias y ayudar en la digestión.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="../../../assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Cold Brew con Leche</h4>
            <p>El Cold Brew con leche es una opción más suave y cremosa que el café negro, con menos acidez.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="../../../assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Expresso Ristretto</h4>
            <p>Tiene un sabor intenso y menos ácido que el espresso clásico, contiene menos cafeína.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="../../../assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Caffe con coco y chocolate blanco</h4>
            <p>Es una bebida deliciosa y refrescante, que puede ser una opción más saludable y con menos cafeína.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="../../../assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Cafe Affogato</h4>
            <p>Es una opción refrescante después de la cena, sin aditivos artificiales y puede tener menos calorías que otros postres.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="../../../assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Nitro Cold Brew</h4>
            <p>Tiene una textura suave gracias al nitrógeno, un sabor completo y naturalmente dulce que no necesita edulcorante, y una dosis saludable de cafeína para un impulso refrescante de energía.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->