<body>

  
    <!-- ======= hero Section ======= -->
    <section id="hero">
  
      <div class="hero-content" data-aos="fade-up">
        <h2> Tú caffe ideal!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conocenos</a>
          <a href="#portfolio" class="btn-projects scrollto">Nuestros cafes</a>
        </div>
      </div>
  
      <div class="hero-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url('../../../assets/img/hero-carousel/1.jpg');"></div>
          <div class="swiper-slide" style="background-image: url('../../../assets/img/hero-carousel/2.jpg');"></div>
          <div class="swiper-slide" style="background-image: url('../../../assets/img/hero-carousel/3.jpg');"></div>
          <div class="swiper-slide" style="background-image: url('../../../assets/img/hero-carousel/4.jpg');"></div>
          <div class="swiper-slide" style="background-image: url('../../../assets/img/hero-carousel/5.jpg');"></div>
        </div>
      </div>
  
    </section><!-- End Hero Section -->
  
    <main id="main">
  
      <!-- ======= About Section ======= -->
      <section id="about">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6 about-img">
              <img src="../../../assets/img/hero-carousel/1.jpg" alt="">
            </div>
  
            <div class="col-lg-6 content">
              <h2>ALOHA CAFFE</h2>
              <h3>Nos enorgullece decir que nuestros granos de café son seleccionados cuidadosamente de los mejores productores de todo el mundo.</h3>
  
              <ul>
                <li><i class="bi bi-check-circle"></i> Estamos comprometidos a trabajar directamente con los agricultores para asegurarnos de que el café que servimos no solo es delicioso, sino tambien sostenible.</li>
                <li><i class="bi bi-check-circle"></i> Nos esforzamos por ofrecer un menú variado que incluye opciones vegetarianas, veganas y sin gluten.</li>
                <li><i class="bi bi-check-circle"></i> Estamos orgullosos de poder ofrecer un espacio donde nuestros clientes puedan disfrutar de una taza de café y una conversación agradable. </li>
              </ul>
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
      <!-- ======= Services Section ======= -->
      <section id="services">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Servicios</h2>
            <p>En nuestra cafetería ofrecemos una amplia gama de servicios para satisfacer las necesidades de nuestros clientes</p>
          </div>
  
          <div class="row gy-4">
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="box">
                <div class="icon"><i class="bi bi-cup-hot"></i></div>
                <h4 class="title"><a>Café de alta calidad</a></h4>
                <p class="description">Ofrecemos una amplia selección de cafés de origen único, mezclas y bebidas especiales preparadas por nuestros baristas capacitados para crear la bebida perfecta.</p>
              </div>
            </div>
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <div class="icon"><i class="bi bi-bag-check"></i></div>
                <h4 class="title"><a>Servicio para llevar</a></h4>
                <p class="description">Siempre estamos listos para preparar tu pedido para llevar, para que puedas disfrutar de nuestros productos donde quieras.</p>
              </div>
            </div>
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <div class="box">
                <div class="icon"><i class="bi bi-wifi"></i></div>
                <h4 class="title"><a>Catering</a></h4>
                <p class="description">Si necesitas comida y bebidas para un evento especial, nuestro servicio de catering es la solución perfecta.</p>
              </div>
            </div>
  
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <div class="box">
                <div class="icon"><i class="bi bi-wifi"></i></div>
                <h4 class="title"><a>Wifi gratis</a></h4>
                <p class="description">Ofrecemos wifi gratis para que puedas trabajar, estudiar o simplemente disfrutar de tu tiempo en nuestra cafetería.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
  
      <!-- ======= Clients Section ======= -->
      <section id="clients">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Clientes</h2>
            <p>Agradecemos sinceramente a nuestros clientes por elegirnos como su cafetería de elección y esperamos verlos pronto en nuestro establecimiento. ¡Gracias por su confianza y apoyo!</p>
          </div>
  
          <div class="clients-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><img src="../../../assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="../../../assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="../../../assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="../../../assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="../../../assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="../../../assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="../../../assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="../../../assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Clients Section -->
  
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Nuestros Caffes</h2>
            <p>Bienvenidos a nuestro portafolio de cafés de alta calidad, seleccionados cuidadosamente de proveedores sostenibles en todo el mundo. Nuestros baristas altamente capacitados se dedican a preparar cada taza con atención y cuidado. Descubre el sabor y la calidad que nuestra cafetería puede ofrecer.</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Expresso</li>
                <li data-filter=".filter-card">Originales</li>
                <li data-filter=".filter-web">Cold brew</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="../../../assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Expresso clasico </h4>
                <p>Proporciona energía, mejorar la digestión</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="../../../assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cold Brew Clásico</h4>
                <p>Es suave gracias a su menor acidez y amargura, con un sabor naturalmente dulce que requiere menos edulcorante. </p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="../../../assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Expresso Lungo</h4>
                <p>Es versátil y puede ser una opción más saludable para controlar el peso debido a su menor cantidad de calorías.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="../../../assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Latte de Calabaza Especiada</h4>
                <p>Puede aumentar la ingesta de antioxidantes, tener propiedades antiinflamatorias y ayudar en la digestión.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="../../../assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cold Brew con Leche</h4>
                <p>El Cold Brew con leche es una opción más suave y cremosa que el café negro, con menos acidez.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img src="../../../assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Expresso Ristretto</h4>
                <p>Tiene un sabor intenso y menos ácido que el espresso clásico, contiene menos cafeína.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="../../../assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Caffe con coco y chocolate blanco</h4>
                <p>Es una bebida deliciosa y refrescante, que puede ser una opción más saludable y con menos cafeína.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img src="../../../assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cafe Affogato</h4>
                <p>Es una opción refrescante después de la cena, sin aditivos artificiales y puede tener menos calorías que otros postres.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="../../../assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Nitro Cold Brew</h4>
                <p>Tiene una textura suave gracias al nitrógeno, un sabor completo y naturalmente dulce que no necesita edulcorante, y una dosis saludable de cafeína para un impulso refrescante de energía.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->
  