<form>
  <h2>Iniciar sesión</h2>
  <div class="form-group">
    <label >Nombre</label>
    <input type="text" [(ngModel)]="form.nombre" name="nombre">
  </div>
  <div class="form-group">
    <label >Correo</label>
    <input type="email" [(ngModel)]="form.correo" name="correo" >
  </div>
  <div class="form-group">
    <label>Contraseña:</label>
    <input type="password" [(ngModel)]="form.contrasena" name="contrasena" >
  </div>
  <div class="form-group">
    <label >Repetir Contraseña:</label>
    <input type="password" [(ngModel)]="ccontrasena" name="ccontrasena">
  </div>
  <button (click)="registrarme()"  type="submit">Registrar</button>

  <button [routerLink]="['/inciar']" type="submit" class="register-btn"><a>Iniciar Sesion</a></button>
</form>

  